
**/*.svg
package.json
.umi
.umi-production
/dist
/build
/public
.gitignore
.prettierignore
.eslintignore
.stylelintignore
.dockerignore
.editorconfig
Dockerfile*
LICENSE
.eslintcache
.DS_Store
yarn.lock
package-lock.json
yarn-error.log
.history
CNAME
    